.Board>div{
	background-color:#212529;
	color:white;
}

.btn{

	justify-content: center;
	font-size: 3rem;
}

.winner{
	width: 12vmax;
	justify-content: center;
	text-align: center;
}

@media (max-width: 640px) { 

	.margins{
		margin-top: 4rem;
	}

}
